<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartroad.srmp.roadasset.mapper.RoadRouteMapper">
    <sql id="RouteWhere">
        tenant_id = #{tenantId} AND deleted = false
        <if test="q != null and q.routeCode != null and q.routeCode != ''">AND route_code ILIKE concat('%', #{q.routeCode}, '%')</if>
        <if test="q != null and q.routeName != null and q.routeName != ''">AND route_name ILIKE concat('%', #{q.routeName}, '%')</if>
        <if test="q != null and q.routeType != null and q.routeType != ''">AND route_type = #{q.routeType}</if>
        <if test="q != null and q.technicalGrade != null and q.technicalGrade != ''">AND technical_grade = #{q.technicalGrade}</if>
        <if test="q != null and q.adcode != null and q.adcode != ''">AND adcode = #{q.adcode}</if>
    </sql>
    <sql id="RouteColumns">
        id, route_code, route_name, route_type, admin_grade, technical_grade, start_stake, end_stake,
        length_km, adcode, manage_org_id, ST_AsGeoJSON(geom) AS geom_geo_json, remark, created_at
    </sql>
    <select id="selectPageVO" resultType="com.smartroad.srmp.roadasset.vo.RoadRouteVO">
        SELECT <include refid="RouteColumns"/> FROM road_route WHERE <include refid="RouteWhere"/> ORDER BY route_code ASC, created_at DESC
    </select>
    <select id="selectDetail" resultType="com.smartroad.srmp.roadasset.vo.RoadRouteVO">
        SELECT <include refid="RouteColumns"/> FROM road_route WHERE tenant_id = #{tenantId} AND id = #{id} AND deleted = false
    </select>
    <select id="selectForMap" resultType="com.smartroad.srmp.roadasset.vo.RoadRouteVO">
        SELECT <include refid="RouteColumns"/> FROM road_route WHERE <include refid="RouteWhere"/> AND geom IS NOT NULL ORDER BY route_code ASC
    </select>
    <insert id="insertWithGeom" parameterType="com.smartroad.srmp.roadasset.entity.RoadRoute">
        INSERT INTO road_route(id, tenant_id, route_code, route_name, route_type, admin_grade, technical_grade, start_stake, end_stake, length_km, adcode, manage_org_id, geom, remark, created_by, updated_by, created_at, updated_at, deleted)
        VALUES (#{id}, #{tenantId}, #{routeCode}, #{routeName}, #{routeType}, #{adminGrade}, #{technicalGrade}, #{startStake}, #{endStake}, #{lengthKm}, #{adcode}, #{manageOrgId},
        <choose><when test="geomWkt != null and geomWkt != ''">ST_GeomFromText(#{geomWkt}, 4326)</when><otherwise>NULL</otherwise></choose>,
        #{remark}, #{createdBy}, #{updatedBy}, now(), now(), false)
    </insert>
    <update id="updateWithGeom" parameterType="com.smartroad.srmp.roadasset.entity.RoadRoute">
        UPDATE road_route SET route_code=#{routeCode}, route_name=#{routeName}, route_type=#{routeType}, admin_grade=#{adminGrade}, technical_grade=#{technicalGrade},
        start_stake=#{startStake}, end_stake=#{endStake}, length_km=#{lengthKm}, adcode=#{adcode}, manage_org_id=#{manageOrgId}, remark=#{remark}, updated_by=#{updatedBy}, updated_at=now()
        <if test="geomWkt != null and geomWkt != ''">, geom=ST_GeomFromText(#{geomWkt}, 4326)</if>
        WHERE tenant_id=#{tenantId} AND id=#{id} AND deleted=false
    </update>
</mapper>
